@charset "UTF-8";
* {
  box-sizing: border-box; }

html nav {
  width: 3.75rem;
  background-color: #F6F7F7; }
  html nav a {
    display: block;
    width: 0.6rem;
    height: 0.43rem;
    margin: 0 0.075rem;
    font-size: 0.15rem;
    color: #0A0A0A;
    float: left;
    text-align: center;
    line-height: 0.43rem; }

.item_day, .item_day1 {
  padding-top: 0.1rem;
  height: 0.4rem;
  line-height: 0.4rem;
  color: #8D8D8D;
  padding-left: 0.15rem;
  width: 3.75rem;
  font-size: 0.16rem; }

main ul {
  height: 0.66rem;
  width: 3.75rem;
  padding: 0.1rem 0;
  font-size: 0.14rem; }
  main ul li {
    position: relative;
    padding-left: 0.18rem; }
    main ul li div {
      width: 2.5rem;
      height: 0.33rem; }
      main ul li div a {
        color: #333; }
        main ul li div a img {
          float: left;
          width: 0.24rem;
          height: 0.24rem; }
        main ul li div a p {
          float: left;
          margin-left: 0.05rem; }
      main ul li div i {
        float: right; }

.time {
  display: block;
  color: #A7A7A7;
  position: absolute;
  right: 0.35rem;
  top: 0.08rem; }

.status {
  display: block;
  padding: 0.03rem 0.1rem;
  border-radius: 0.05rem;
  color: #fff;
  background: #A6ABAE;
  position: absolute;
  right: 0.2rem;
  top: -0.06rem;
  font-size: 0.12rem;
  line-height: 0.18rem; }

.tommrow i {
  color: #B5B5B5; }

.tommrow span {
  top: -0.11rem;
  background: #006CB7; }

.content-main-wrap {
  position: absolute;
  top: 0.4rem;
  bottom: 0.4rem;
  left: 0;
  right: 0;
  overflow: auto; }
  .content-main-wrap .content-main {
    width: 100%; }

/*
  澶撮儴
* */
header {
  height: 0.4rem;
  width: 100%;
  background: #1C90F2;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100; }
  header span {
    position: absolute;
    display: block;
    height: 0.4rem;
    width: 0.4rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 0.30rem;
    color: #FFF; }

header.active {
  height: 0.4rem;
  width: 100%;
  background: #1C90F2;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10; }

header h1 {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0.2rem;
  font-weight: normal;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  font-family: "瀹嬩綋"; }

/*
  灏鹃儴
* */
footer {
  height: 0.4rem;
  width: 100%;
  background: #1C90F2;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 10; }

footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%; }

footer ul li {
  width: 25%;
  height: 100%;
  box-sizing: border-box; }

footer ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  font-size: 0.2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  font-weight: normal;
  font-family: "瀹嬩綋"; }
